{% extends 'index.html' %}
{% block title %}About Us - QuizzyQuest{% endblock title %}

{% block content %}
<div style="padding-top: 100px; display: flex; flex-direction: column; min-height: 100vh; font-family: 'Poppins', sans-serif; background-color: #00052a; color: white; text-align: center; overflow-x: hidden; margin: 0;">
    <h1 class="display-4 text-center my-5">About Us</h1>
    <div style="padding: 20px; text-align: left;">
        <div class="container col-md-8 col-sm-12" style="display: flex; flex-direction: column; align-items: flex-start;">
            <section class="app-description" style="color: white; margin-bottom: 20px;">
                <h2>Welcome to QuizzyQuest</h2>
                <p>
                  QuizzyQuest is a user-friendly web application designed to provide users with an engaging and interactive experience in creating, managing, and taking quizzes. Whether you're an educator, a business professional, or someone who loves quizzes, QuizzyQuest offers a versatile platform for knowledge-sharing and learning.
                </p>
            </section>

            <section class="how-it-works" style="color: white; margin-bottom: 20px;">
                <h2>How It Works</h2>
                <p>
                    QuizzyQuest offers a simple and intuitive user interface that allows you to:
                </p>
                <ul>
                    <li>Sign up and create your personalized account.</li>
                    <li>Choose from a variety of trending quiz topics in the technology domain.</li>
                    <li>Participate in time-limited quizzes and answer questions to rank yourself on QuizzyQuest.</li>
                    <li>Track your progress and compete with other tech enthusiasts on the leaderboard.</li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
